extends layout

block content
    h1 Om kursen ramverk2
    br
    p I denna kurs kommer jag lära mig massa mer om javascript och ramverk som finns. De är många så man måste välja det som kommer bli gammalt sist.
