extends layout

block content
  div.row
    div.col.s6
      h3 Detta är jag, Hannes Alm
      h5 Fakta om mig
      p Jag är 40år fyllda och bor i hus på Långö i karlskrona. En fru samt två barn och två bonusbarn. Jag går sista året på BTH webbprogrammering och denna sida är en del i kursen ramverk2.
      p I följande kurs tänkte jag lära mig lite mer om Javascript och lite ramverk i denna djungel av ramverk.
    div.col.s6
      img(src="/images/me.JPG", width=400)

