extends layout

block content
    .container
        .demo-ribbon
        .demo-layout
            main.demo-main
                .demo-container
                    div
                    .demo-content.card-panel.col.s12.m8.offset-m2
                        h4 kmom01
                        h6(class="orange-text") Berätta utförligt om din syn på Express och Pug och hur de samverkar. Relatera till andra ramverk du jobbat med. Lyft fram de fördelar och eventuellt nackdelar du finner, eller bara notera skillnader och likheter.
                        p Jag har tidigare aldrig suttit med javascript ramverk. Jag har tidigare suttit med javascript så språket var inget nytt. Har också tidigare suttit med mvc så tänket med modeller och vyer var inget nytt. Dock har jag aldrig sett det i javascript. Har många gånger funderat på att kolla och lära mig men inte hittat tiden.
                        p Jag tycker att ramverket verkar kul att jobba med. Jag är skepptisk till saker i början med när jag börjar gräva ner mig så brukar jag ändra åsikt efter ett tag. Jag gillade inte PUG i början med har nu mer och mer börjat gilla det. Kände ingen frihet i början men nu när jag lekt med det så börjar jag lära mig syntaxen och det går smidigare att bygga html
                        p Om ramverket i sig så har jag inget att säga direkt mer än att det är kul att prova på MVC i javascript och med node.js istället för det "traditionella" PHP backend vilket jag suttit med rätt mycket. Så det va en frisk fläkt att få jobba med sammam tänk men med ett helt annat språk.
                        h6(class="orange-text") Berätta om din katalogstruktur och hur du organiserade din kod, hur tänkte du?
                        p Jag tänkte inte så mycket på detta då jag gjorde express egna scaffolding. Jag genererade den och tittade på koden och förstod strukturen ganska snabbt då den är lik vad andra MVC ramverk har gjort.
                        h6(class="orange-text") Använde du någon form av scaffolding som Express erbjuder?
                        p Ja det gjorde jag. Och jag tyckte den var väldigt smidig faktiskt. Lätt at få igång och lätt att generera fram. Tyckte inte koden i sig var så svår att förstå heller när jag började titta på den efter jag genererat fram den.
                        h6(class="orange-text") Jobbar du med Markdown för innehållet, eller annat liknande?
                        p Nej använde inte någon markdown alls. Tyckte PUG räckte för det jag skulle göra i denna kurs.
                        h4 kmom02
                        p ...
